.nav-ul {
  padding: 5px;
  margin: 0;
  background-color:darkcyan;
}
.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: darkcyan;
  width: 100%;
  text-align: center;
  color: #fff;
}

.inputBox {
  padding: 7px;
  display: block;
  border: 1px solid skyblue;
  width: 300px;
  margin: 20px;
}

.signup {
  margin: 20px;
  width: 150px;
  padding: 10px;
  background-color: blueviolet;
  cursor: pointer;
  border: solid 1px;
}